@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    background-color: #050505;
    color: white;
    overflow-x: hidden;
  }
}

::selection {
  background: #7b61ff;
  color: #fff;
}
